.woocommerce {
  .cart-collaterals {
    .cart_totals {
      float: none !important;
      width: 100% !important;
    }
  }
  a.remove {
    color: black !important;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    &:hover {
      background: #fff;
      color: black !important;
    }
  }
  table.shop_table {
    border: none;
  }

  &.single-product {
    button[name="add-to-cart"] {
      width: 80%;
      margin: 20px 0;
      margin-left: 0px !important;
      padding: 12px 0;
      background: black;
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      height: 42px !important;
    }
  }
}


