.woocommerce {
  span.onsale {
    background: $gallery-ribbon;
    color: #fff;
    left: 0;
    padding: 5px 10px;
    min-width: 20%;
    max-width: 80%;
    border-radius: 0;
  }
  .quantity {
    p {
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}
