.woocommerce {
  .single-product, .remodal {
    .price {
      span, ins, del {
        color: $gray-price;
        font-size: 26px;
        line-height: 32px;
        font-weight: 400;
      }
      span, ins {
        text-decoration: none;
      }
      del {
        opacity: 0.5;
      }
    }
  }
  
  .quantity {
    input.qty {
      height: 38px;
      padding: 1px 13px;
      min-width: 71px;
    }
    & + button {
      height: 44px;
      background: black;
      border: 1px solid black;
      color: #fff;
      transition: 0.4s all ease;
          }
  }
  .product {
    .quantity {
      float: none !important;
    }
  }
  li.product {
    .price {
      &, & * {
        font-size: 15px;
        line-height: 18px;
        color: black;
        font-weight: 400;
      }
      del {
        opacity: 0.7;
      }
    }
  }
}
