.woocommerce.single-product, .woocommerce .remodal {
  .container {
    max-width: 890px;
  }
  
  .product{
    position: relative;
    [role="tablist"] {
      display: none;
    }
    .product_title {
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
    }
    .product_meta {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 30px;
    }
    .price {
      &, & * {
        color: black;
        font-weight: 400;
      }
    }
    [name="add-to-cart"], button.single_add_to_cart_button {
      color: #fff;
      background-color: $bg-overlay-color;
      min-height: 43px;
      font-size: 18px;
      line-height: 18px;
      width: 100%;
      padding: 8px 16px;
      border-radius: 20px;
      transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
      margin: {
        top: 25px;
        bottom: 35px;
      }
      &:hover, &:focus {
        background-color: $bg-overlay-color-opacity;
        color: rgba(#fff, 0.7);
      }
    }
    form.cart {
      margin-bottom: 0px;
    }
    .woocommerce-product-gallery {
      &.images {
        a.woocommerce-product-gallery__trigger {
          right: unset;
          left: .5em;
        }
      }
      .flex-viewport {
        width: 87%;
        float: left;
      }
      .flex-control-thumbs {
        width: 10%;
        float: left;
        overflow-y: scroll;
        max-height: 480px;
        margin-left: 3%;
        /* width */
        &::-webkit-scrollbar {
          width: 1px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: white; 
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #fff; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
        li {
          width: 100%;
          margin-left: 0px;
          margin-bottom: 10px;
          img {
            max-width: 43px;
            float: none;
            margin: 0 ;
            border: 3px solid transparent;
            transition: .3s all ease;
            &.flex-active {
              border-color: #808080;
            }
          }
        }
      }
    }

  } // .product
}

.product {
  .accordion {
    .card {
      background: #fff;
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0px;

      .card-header {
        border: none;
        background: #fff;
        padding: 12px 0;
        h2 {
          button {
            position: relative;
            font-size: 15px;
            line-height: 18px;
            font-weight: 400;
            text-transform: uppercase;
            color: #000;
            padding: 6px 0;
            outline: none !important;
            box-shadow: none !important;
            text-decoration: none;
            &:after {
              position: absolute;
              top: 6px;
              right: 0;
              content: '+';
              font-size: 24px;
            }
            &[aria-expanded="true"] {
              &:after {
                content: '-';
              }
            }
          }
        }
      }
      .card-body {
        padding: {
          top: 0;
          bottom: 20px;
          left: 0;
          right: 0;
        }
        font-size: 15px;
      }
    }
    
  }
  @media screen and (max-width: 576px) {
    padding: 0 20px 20px 20px;
    .woocommerce-product-gallery__trigger {
      display: none;
    }

  }

}

 
/* Style each Thumbnail with width and margins */
 
.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    }

    .product-page-link {
      margin-top: 20px;
    }
