.woocommerce.single-product {
  .product{
    position: relative;
    span.onsale {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      padding: 5px 10px;
      border-radius: 0;
      background: $gray-badge;
      margin: 0px;
      min-height: 32px;
      line-height: 1.5;
      font-weight: normal;
    }
    [role="tablist"] {
      display: none;
    }
    .product_title {
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
    }
    .product_meta {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 30px;
    }
    [name="add-to-cart"] {
      color: #fff;
      background-color: $bg-overlay-color;
      min-height: 43px;
      font-size: 18px;
      line-height: 18px;
      max-width: 320px;
      padding: 8px 16px;
      border-radius: 20px;
      transition: background-color .2s ease-in-out,border-color .2s ease-in-out,color .2s ease-in-out;
      &:hover, &:focus {
        background-color: $bg-overlay-color-opacity;
        color: rgba(#fff, 0.7);
      }
    }
    form.cart {
      margin-bottom: 0px;
    }

    .accordion {
      .card {
        background: #fff;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        .card-header {
          border: none;
          background: #fff;
          padding: 12px 0;
          h2 {
            button {
              font-size: 15px;
              line-height: 18px;
              font-weight: 400;
              text-transform: uppercase;
              color: #000;
              padding: 6px 0;
              outline: none !important;
              box-shadow: none !important;
            }
          }
        }
        .card-body {
          padding: 20px 0;
          font-size: 15px;
        }
      }
    }
  }
}
