.woocommerce {
  table.variations {
    tr {
      display: flex;
      flex-direction: column;
    }
    .variation-selector {
      margin-bottom: 10px;
      display: block !important;
      visibility: visible !important;
    }
    .tawcvs-swatches {

    }
  }
}
