header.common-header {
  position: relative;
  .search {
    position: absolute;
    top: 133px;
    left: 15vw;
    z-index: 400;
    @media screen and (max-width: 560px) {
      top: 160px;
      padding: 4px 10px;
    }
  }
  .search-area {
    position: fixed;
    top: 0px;
    background-color: rgba(#F3F5F5, 0.9);
    width: 100%;
    min-height: 60vh;
    max-height: 60vh;
    overflow: scroll;
    z-index: 900;
    
    &:not(.open) {
      display: none;
    }

    .search-area-content {
      position: relative;
      margin-top: 5vh;
    }
    .close-btn {
      position: absolute;
    }
    .search-input {
      margin: 5vh auto;
      max-width: 80vw;
      input {
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid black;
        background-color: transparent;
        color: black;
        text-align: center;
      }
    }
    .search-results {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 80%;
      margin: 2vh auto;
      .search-result {
        flex: 0 20%;
        width: 20%;
        padding: 5px;
        img {
          max-height: 200px;
        }
      }
    }
    @media screen and (max-width: 560px) {
      max-height: 100vh;
      height: 100vh;
      .search-results {
        .search-result {
          width: 90%;
          flex: 0 90%;
        }
      }
    }
  }
  
}

.logged-in {
  .search-area {
    top: 32px !important;
  }
}
